import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*{
 	box-sizing: border-box;
 	padding: 0;
 	margin: 0;
}
html{
 	scroll-behavior: smooth;
}

h2 {
	font-weight: 150;
}

body{
 	margin: 0 10rem 3rem 10rem;
 	font-family: 'Poppins', sans-serif;
 	font-size: 1rem;
 	background-color: hsl(250, 60%, 99%);
}

@media screen and (max-width: 968px) {
	body {
		margin: 0 4rem 3rem 6rem;
	}	
}

@media screen and (max-width: 430px) {
	body {
		margin: 3rem 2.5rem 3rem 5rem;
	}
	#next_button_container2 {
		opacity: 1;
		visibility: visible;
	}	
}

div {
	display: block;
}

div.header_line {
	height: 1px;
	width: max-width;
	background-color: black;
}

.container {
	display: flex;
}

.article_container {
	padding-right: 2rem;
}

img {
	float: right;
	width: 15rem;
	height: 10rem;
	margin: 0.5rem;
}

#list_below_men_and_women {
	margin-top: 0;
}


#next_step_title {
	text-align: center;
	background-color: #013564;
	color: white;
	margin: 1rem 0 0 0;
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

#next_step_content {
	background-color: #013564;
	color: white;
	margin: 0;
	padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

#next_step_button_container {
	display: flex;
	justify-content: center;
	background-color: #013564;
	padding-bottom: 1.5rem;
}

#next_step_button {
	background-color: red;
	color: white;
	padding: 1rem;
	border-radius: 1rem;
}

#google_map_title {
	display: block;
}

#map_picture {
	height: 12rem;
	width: 12rem;
	margin: 0;
}

.map_button {
	display: inline-flex;
	align-items: center;
}

#google_map_instruction {
	position: relative;
	top: 1rem;
}

.map_modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	z-index: 1000;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
}

.map_modal_content {
	position: relative;
	background-color: #FFF;
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.active_modal {
	opacity: 1;
	visibility: visible;
}

/* ===== next step for phone view*/
#next_step_title2 {
	text-align: center;
	background-color: #013564;
	color: white;
	margin: 1rem 0 0 0;
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

#next_step_content2 {
	background-color: #013564;
	color: white;
	margin: 0;
	padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

#next_step_button_container2 {
	display: flex;
	justify-content: center;
	background-color: #013564;
	padding-bottom: 1.5rem;
}

#next_step_button2 {
	background-color: red;
	color: white;
	padding: 1rem;
	border-radius: 1rem;
}

#google_map_title2 {
	display: block;
}

#map_picture2 {
	height: 12rem;
	width: 12rem;
	margin: 0 3rem;
}

#google_map_instruction2 {
	position: relative;
	top: 1rem;
	margin-left: 1.7rem;
}

#next_button_container2 {
	opacity: 0;
	visibility: hidden;
}	

@media screen and (max-width: 430px) {
	#next_button_container2 {
		opacity: 1;
		visibility: visible;
	}	
	#next_button_container {
		display: none;
	}
	img {
		float: right;
		width: 15rem;
		height: 10rem;
		margin: 0.5rem 2rem 0.5rem 0.5rem;
		padding-bottom: 1rem
	}
}

